

<%- include partials/header_Morph.ejs %>

<%- include partials/main_nav.ejs %>

<!--
//*******************************************************************
//  COMP229   Personal Portfolio Website
//  File name       : app.js
//  Student’s Name  : Kai Hong Yeung
//  StudentID       : 301229539
//  Date            : 2 Feb 2022
//*******************************************************************
-->



<main class="p-5 mb-4 bg-primary rounded-3">

  <div class="container mt-3">
    <header><h2><%= title %></h2></header>
    <div class="mt-4 p-5 bg-secondary text-primary rounded  padding-1 border-radius-30 ">


      <div class="container">
        
        <div class="row align-items-start">            
          <header><p>Feel free to contact me</p></header>
          <!--link to contact email-->
          <a href="mailto:kyeung39@my.centennialcollege.ca" class="link-success"><i class="fas fa-envelope-square"></i> kyeung39@my.centennialcollege.ca</a>
        </div>
        <br>
        <div class="row align-items-start">
          <header><p>Or leave me some messages</p></header>
          <section>
          <!--submit form for contact message-->
          <!--<form action="/contactMessage" method="post" class="form-text">-->
            <form method="post" class="form-text">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>              
              <input placeholder="Your First Name" type="text" class="form-control" id="firstName" name="firstName"  >              
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>              
              <input placeholder="Your Last Name" type="text" class="form-control" id="lastName" name="lastName" >              
            </div>
            <div class="mb-3">
              <label for="contactNumber" class="form-label">Contact Number</label>              
              <input placeholder="Your Contact Number" type="text" class="form-control" id="contactNumber" name="contactNumber" >              
            </div>
            <div class="mb-3">
              <label for="emailAddress" class="form-label">Email Address</label>
              <input placeholder="Your Email" type="email" class="form-control" id="emailAddress" name="emailAddress" aria-describedby="emailHelp">              
            </div>

            <div class="form-group">
              <label for="message" class="form-label">Message</label>
              <textarea placeholder="Your Message" type="text" class="form-control" id="message" name="message" rows="3"></textarea>
            </div>
            
            <div id="info" class="form-text text-info">Your information is safe. I'll never share your contact information.</div>
            <br>
          <!--submit form button, back to home page-->
          
            <button type="submit" class="btn btn-success btn-lg" ">SEND</button>
            
            <div class="link-success"><%= response%></div>
            
            <div class="link-info"><% if(body != ''){%> <%= JSON.stringify(body)%> <%}%></div>  

          </form>
        </section>
        </div>

      </div>

    </div>
  </div>


</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
